{% include('header.html') %}

<body>
    <div id="head" class="text-center">
        {% if error %}
            <h2 style="color: red;">{{ error }}</h2>
        {% endif %}
        <h1 align="center">Decentralized Voting Using Blockchain</h1>
        <h3 align="center"><p>Current Candidates<span id="dates"></span></p></h3>
    </div>

    <div id="candidate" class="container">
        <table class="table text-center">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Party</th>
                    <th>Total Vote</th>
                </tr>
            </thead>
            <tbody id="boxCandidate">
                {% for i in candidates %}
                    <tr> <!-- Add a <tr> to wrap each row of candidate data -->
                        <td>{{ i.candidate }}</td>
                        <td>{{ i.party }}</td>
                        <td>{{ i.votes }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <br/>

        <!-- Form for adding a new candidate -->
        <form action="/admin" method="post" enctype="multipart/form-data">
            <label for="candidate">Candidate</label>
            <input type="text" name="candidate" id="candidate">
            <br>
            <label for="party">Party</label>
            <input type="text" name="party" id="party">
            <br>
            <label for="file">Upload Candidates CSV</label>
            <input type="file" name="file" id="file" accept=".csv">
            <br>
            <button type="submit">SUBMIT</button>
        </form>
    </div>
</body>

{% include('footer.html') %}
